/* 
THE BEACH LAB CSS STYLE
CODED FROM SCRATCH AS I LEARN CSS
*/

@font-face {
    font-family: 'Miso';
    font-style: normal;
    font-weight: normal;
    src: local('Miso'), url('miso.woff') format('woff');
}
    
@font-face {
    font-family: 'Miso Light';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Light'), url('miso-light.woff') format('woff');
}
    
@font-face {
    font-family: 'Miso Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Bold'), url('miso-bold.woff') format('woff');
}

html, body {
    margin: 0; /* no margins around the page */
    height: 100%; /* expand to browser height */
}

p.title
{
    font-family: 'Miso Light'; 
    font-size: 40px;
    font-weight: normal;
}


p {
    font-family: 'Miso';
    font-size: 25px;
    line-height: 1.2em;
}

a.pink {
    color: inherit;
    text-underline-offset: 4px;
    text-decoration-color: hotpink;
    text-decoration-thickness: 2px;
}

.center {
    text-align: center;
}


.wbutton {
    font-family: 'Miso Light'; 
    font-size: 40px;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-decoration: none;
    padding: 8px 10px 2px 14px;
}

.bbutton {
    font-family: 'Miso Light'; 
    font-size: 40px;
    border-style: solid;
    border-width: 2px;
    color: black;
    text-decoration: none;
    padding: 8px 8px 2px 8px;
}

/* initial block */
div.black {
    padding: 30px;
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden; /* do not allow content to overflow outside the div */
    min-height: 100%; /* heigh is 100% at least, if the content is larger then larger */
}

div.yellow {
    padding: 30px;
    background-color: gold;
    color: #333;
}

/* float div for the left and right buttons */
.left, .right {
    float: left;
    width: 35%; /* The width is 40%, by default */
    padding-bottom:30px;
  }

/* float div for the middle button */  
  .main {
    float: left;
    width: 30%; /* The width is 20%, by default */
    padding-bottom: 30px;
  }


  /* Use a media query to add a breakpoint at 935px: */
  @media screen and (max-width: 935px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 935px or smaller */
    }
  }

  /* div that holds the 3 buttons */
  .menu {  
    width: 100%;
    position: absolute;
    bottom: 0; /* align to the bottom of the parent div */
  }