/*
THE BEACH LAB CSS STYLE
CODED FROM SCRATCH AS I LEARN CSS
*/

/*---- fonts ----*/
@font-face {
    font-family: 'Miso';
    font-style: normal;
    font-weight: normal;
    src: local('Miso'), url('miso.woff') format('woff');
}

@font-face {
    font-family: 'Miso Light';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Light'), url('miso-light.woff') format('woff');
}

@font-face {
    font-family: 'Miso Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Bold'), url('miso-bold.woff') format('woff');
}

html, body {
    margin: 0; /* no margins around the page */
    height: 100%; /* expand to browser height */
    width: 100%;
    font-family: 'Miso'
}

p { /* paragraph */
    font-family: 'Miso';
    font-size: 25px;
    line-height: 1.2em;
}

p.title { /* title */
    font-family: 'Miso Light';
    font-size: 40px;
    font-weight: normal;
}

p.quote { /*quote */
    font-family: 'Miso Light';
    font-style: italic;
}

a { /*link */
    color: inherit;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.center {
    text-align: center;
}


.wbutton { /* white button */
    font-family: 'Miso Light';
    font-size: 40px;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-decoration: none;
    padding: 8px 10px 2px 14px;
}

.bbutton { /* black button */
    font-family: 'Miso Light';
    font-size: 40px;
    border-style: solid;
    border-width: 2px;
    color: black;
    text-decoration: none;
    padding: 8px 8px 2px 8px;
}


div.black { /* full page black div */
    background-color: black;
    color: white;
    text-align: center;
    height: 100%; /* heigh is 100% */
    width: 100%;
    overflow: hidden; /* do not allow content to overflow outside the div */
}

div.yellow {
    padding: 30px;
    background-color: gold;
    color: #333;
}

div.red {
    padding: 30px;
    background-color: orangered;
    color: antiquewhite;
}

div.blue {
    padding: 30px;
    background-color: skyblue;
    color: #333;

}

div.white {
    padding: 30px 90px 30px 90px;
    background-color: whitesmoke;
    color: #333;
}

div.purple {
    padding: 30px;
    background-color: rebeccapurple;
    color: antiquewhite;
}

div.green {
    padding: 30px;
    background-color: yellowgreen;
    color: #333;
}

/*---- main page rows ----*/
.top { /* top row */
    height: 30%;
}

.mid { /* middle row */
    height: 40%;
    padding-top: 15px;
}

.menu {  /* bottom div that holds the 3 buttons */
    height: 30%;
    width: 100%;
    padding: 5px;
  }

.capsule { /* element containing the 3 buttons in main page */
    position: absolute;
    top: 86%;
    transform: translateY(-50%);
    width: 100%;

}

.left, .right { /* float div for the left and right buttons */
    float: left;
    width: 35%;
  }


.main { /* float div for the middle button */
    float: left;
    width: 30%;
  }


/* responsive web */
/* Use a media query to add a breakpoint at some px: */
@media screen and (max-width: 935px) {
.left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is at breakpoint or smaller */
  }
.left, .main {
    padding-bottom: 30px;
}
}

/* images */
img.round { /* rounded images */
  border-radius: 50%;
}

.responsive { /* responsive images */
  width: 100%;
  /* optional
  max-width: 400px;
  */
  height: auto;
}

div.bg1 {
	/* The image used */
	background-image: url("img_parallax.jpg");
}

/* parallax */
.parallax {

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
