/* 
THE BEACH LAB CSS STYLE
CODED FROM SCRATCH AS I LEARN CSS
*/

@font-face {
    font-family: 'Miso';
    font-style: normal;
    font-weight: normal;
    src: local('Miso'), url('miso.woff') format('woff');
}
    
@font-face {
    font-family: 'Miso Light';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Light'), url('miso-light.woff') format('woff');
}
    
@font-face {
    font-family: 'Miso Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Bold'), url('miso-bold.woff') format('woff');
}

html, body {
    margin: 0; /* no margins around the page */
    height: 100%; /* expand to browser height */
    width: 100%;
    font-family: 'Miso'
}

p.title
{
    font-family: 'Miso Light'; 
    font-size: 40px;
    font-weight: normal;
}

p.quote {
    font-family: 'Miso Light';
    font-style: italic; 
}

p {
    font-family: 'Miso';
    font-size: 25px;
    line-height: 1.2em;
}

a {
    color: inherit;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.center {
    text-align: center;
}


.wbutton {
    font-family: 'Miso Light'; 
    font-size: 40px;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-decoration: none;
    padding: 8px 10px 2px 14px;
}

.bbutton {
    font-family: 'Miso Light'; 
    font-size: 40px;
    border-style: solid;
    border-width: 2px;
    color: black;
    text-decoration: none;
    padding: 8px 8px 2px 8px;
}

/* initial block */
div.black {
    background-color: black;
    color: white;
    text-align: center;
    height: 100%; /* heigh is 100% */
    width: 100%;
    overflow: hidden; /* do not allow content to overflow outside the div */
}

div.yellow {
    padding: 30px;
    background-color: gold;
    color: #333;
}

div.red {
    padding: 30px;
    background-color: orangered;
    color: antiquewhite;
}

div.blue {
    padding: 30px;
    background-color: skyblue;
    color: #333;

}

div.white {
    padding: 30px;
    background-color: whitesmoke;
    color: #333;
}

div.purple {
    padding: 30px;
    background-color: rebeccapurple;
    color: antiquewhite;
}

div.green {
    padding: 30px;
    background-color: yellowgreen;
    color: #333;
}

.top {
    height: 30%;
}

.mid {
    height: 40%;
    padding-top: 15px;
}

.capsule { /* element containing the 3 buttons */
    position: absolute;
    top: 86%;
    /*top: 40px; /* align to the bottom of the parent div */
    transform: translateY(-50%);
    width: 100%;

}

/* float div for the left and right buttons */
 .left, .right {
    float: left;
    width: 35%; 
  }

/* float div for the middle button */  
  .main {
    float: left;
    width: 30%; 
  }

/* div that holds the 3 buttons */
  .menu {  
    height: 30%;
    width: 100%;
    padding: 5px;
  }

/* responsive web */
/* Use a media query to add a breakpoint at some px: */
@media screen and (max-width: 935px) {
.left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is at breakpoint or smaller */
  }
.left, .main {
    padding-bottom: 30px;
}
}
