/*
THE BEACH LAB CSS STYLE
CODED FROM SCRATCH AS I LEARN CSS
*/

/*---- fonts ----*/
@font-face {
    font-family: 'Miso';
    font-style: normal;
    font-weight: normal;
    src: local('Miso'), url('miso.woff') format('woff');
}

@font-face {
    font-family: 'Miso Light';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Light'), url('miso-light.woff') format('woff');
}

@font-face {
    font-family: 'Miso Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Bold'), url('miso-bold.woff') format('woff');
}

html, body {
  margin: 0; /* no margins around the page */
  height: 100%; /* expand to browser height */
  width: 100%;
  font-family: 'Miso'
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  background: transparent;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}

h1 {
    font-family: 'Miso Light';
    font-weight: normal;
}

p { /* paragraph */
  font-size: 25px;
  line-height: 1.2em;
}

a { /*link */
  color: inherit;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
	height: 100vh;
  width: 100%;
}

.light-text{
  color: white;
}

.dark-text{
  color: black;
}

.gradient-violet {
  background-image: linear-gradient(to bottom left,black, indigo);
}

.gradient-blue {
  background-image: linear-gradient(to bottom right, blue,cyan);
}

.gradient-cyan {
  background-image: linear-gradient(to bottom left, cyan, green);
}

.gradient-green {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, green, yellow );
}

.gradient-yellow {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom left,yellow, orange, red );
}

.wrap {
  flex-wrap: wrap;
}

.pad30 {
  padding: 30px;
}

.intro h1 { /* title */
    font-size: 100px;
    color: white;
}



section h1 {
	font-size: 80px;
}

/* images */
img.round { /* rounded images */
  border-radius: 50%;
}
img.bw { /* bw images */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}



.logo { /* logo row */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.menu {  /* bottom div that holds the 3 buttons */
  display: flex;
  height: 40%;
  width: 100%;
}

.capsule { /* container for the 3 buttons in main page */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  width: 100%;

}

.wbutton { /* white button */
  font-family: 'Miso Light';
  font-size: 40px;
  border-style: solid;
  border-width: 2px;
  color: white;
  text-decoration: none;
  padding: 8px 10px 2px 14px;
}

.bbutton { /* black button */
  font-family: 'Miso Light';
  font-size: 40px;
  border-style: solid;
  border-width: 2px;
  color: black;
  text-decoration: none;
  padding: 8px 8px 2px 8px;
  margin: 20px;
}

